/*
Variables 
*/
:root{
--primarycolor:red;
--mainblack:rgb(14, 13, 13);
--mainwhite:white;
--offwhite:rgb(245, 245, 245);
--grey:rgb(180, 175, 175);
--maintransition:all 0.3s linear;
--mainspacing:0.2rem;
}
/*
Global Styles 
 */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: "fira code";
 color: black;
 line-height: 1.5;
}
a{
 text-decoration: none;
}
img{
 width: 100%;
 display: block;
}

h1,h2,h3{
text-transform: capitalize;
letter-spacing:var(--mainspacing);
margin-bottom: 1.25rem;
}

h1{
 font-size: 3rem;
}
h2{
 margin-bottom: 0;
}
p{
 font-weight: 300;
 font-size: 0.8rem;
 line-height: 1.85;
}

/* button */
.button{
 display: inline-block;
 padding: 0.5rem 1rem;
 text-transform: capitalize;
 border: 3px solid var(--primarycolor);
 color: var(--primarycolor);
 margin:3rem;
 transition: var(--maintransition);
}

.button:hover{
 background: var(--primarycolor);
 color: var(--mainwhite);
}

/*
Main Navbar
 */
 .main-navbar{
 background: var(--grey);
 padding: 0 2rem;
 }

 .main-navbar ul{
  list-style: none;
 }

 .main-navbar a{
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--primarycolor);
  letter-spacing: var(--mainspacing);
  transition: var(--maintransition);
 }

 .main-navbar a:hover{
  color: var(--mainblack);
 }

 @media screen and (min-width:990px){
 .main-navbar ul{
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
 }
 }

 /*
Hero
 */

 .heroheader{
  min-height: 100vh;
  background: var(--primarycolor);
  color: var(--mainwhite);
  display: grid;
  justify-content: center;
  align-content: center;
 }

  /* .herobanner{
  background: blue; 
  text-align: center;
 } */

 .herobanner p{
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
 }

 @media screen and (max-width:600px){
  .herobanner{
   padding: 0 3rem;
  }
 }

 @media screen and (min-width:760px){
  .heroheader{
   background: linear-gradient(rgba(241,80,35,0.7),rgba(0,0,0,0.7)), url(./images/image-2.jpeg) center/cover fixed no-repeat;
   /* color: rgb(241, 80, 35); */
  }
 }
 /*
Cards 
 */
.title{
 text-align: center;
}

.cards{
 padding: 4rem 0;
}

.cardscenter{
 width: 80vw;
 max-width: 1150px;
 margin: 2rem auto;
}

.card{
 border: 1px solid var(--grey);
 margin-bottom: 3rem;
}

.cardinfo{
 padding: 1rem;
}

.cardfooter{
 background: var(--grey);
 padding: 0.5rem 1rem;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 justify-items: center;
 color: var(--primarycolor);
}

.button{
 margin-top: 0.5rem;
}

/* @media screen and (min-width:760px){
.cardscenter{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 column-gap: 2rem;
 /* 64 */
/* }
.button{
 margin-top: 0.5rem;
}
}

@media screen and (min-width:1100px){
.cardscenter{
 grid-template-columns: repeat(3,1fr);
}
.cards{
 padding: 2rem;
}
.card{
 margin-bottom: 2rem;
}
.button{
 margin-top: 0.5rem;
}
/* } */ 
/* (1150-64)/3 = 362 */

.cardscenter{
 display: grid;
 column-gap: 2rem;
 grid-template-columns: repeat(auto-fit,minmax(263px,1fr));
}

.card{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;
}

/* 
Tiles
 */

 .tiles{
  padding: 4rem 0;
 }

 .tilescenter{
  width: 90%;
  max-width: 1150px;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
 }

 @media screen and (min-width:768px){
.tilescenter{
 grid-template-columns: 1fr 1fr;
 column-gap: 2rem;
}
 }

 @media screen and (min-width:992px){
.tilescenter{
 grid-template-columns: repeat(3,1fr);
 
}
 }

  @media screen and (min-width:1170px){
.tilescenter{
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: repeat(5,200px);
 grid-template-areas: 
 "a a a b"
 "a a a c"
 "d d d d"
 "e f f f"
 "e g h i"
}
.tiles img{
 height: 100%;
 object-fit: cover;
}
.tile1{
 grid-area: a;
}
.tile2{
 grid-area: b;
}
.tile3{
 grid-area: c;
}
.tile4{
 grid-area: d;
}
.tile5{
 grid-area: e;
}
.tile6{
 grid-area: f;
}
.tile7{
 grid-area: g;
}
.tile8{
 grid-area: h;
}
.tile9{
 grid-area: i;
}
 }

 /* 
 Layout 
 */
 .header{
  background: var(--primarycolor);
  color: var(--mainwhite);
  text-align: center;
  padding: 0.5rem 0;
 }

 .navbar{
  background: var(--grey);
 }

 .navbar li{
  list-style-type: none;
 }

 .navbar a{
  padding: 1rem;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: var(--mainspacing);
  font-size: 1.2rem;
  color: var(--mainblack);
  transition: var(--maintransition);
 }

 .navbar a:hover{
 color: var(--mainwhite);
 }

 .content{
  padding: 2rem;
 }

 .content p{
  font-size: 1rem;
 }

 .sidebar{
 background:var(--primarycolor);
 padding: 1rem 0;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 justify-items: center;
 color: var(--mainwhite);
 font-size: 1.2rem;
 }

 .footer{
 background: var(--mainblack);
 color: var(--mainwhite);
 text-align: center;
 text-transform: capitalize;
 padding: 0.5rem 0;
 }
 
 .footer p{
  font-size: 1.2rem;
 }
 
 .main{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
 }

 @media screen and (min-width:768px){
 .navbar ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
 }
 }

 @media screen and (min-width:992px){
.main{
 grid-template-columns:[start] 200px [col-1-end] 1fr [col-2-end] 50px [end];
 grid-template-rows:[start] auto [row-1-end] 1fr [row-2-end] auto [end];
}
.header{
grid-column: start/end;
grid-row: start/row-1-end;
}

.navbar{
grid-column: start/col-1-end;
grid-row: row-1-end/row-2-end;
}

.content{
grid-column: col-1-end/col-2-end;
grid-row: row-1-end/row-2-end;
}

.sidebar{
grid-column: col-2-end/end;
grid-row: row-1-end/row-2-end;
}

.footer{
grid-column: start/end;
grid-row: row-2-end/end;
}

.navbar ul{
grid-template-columns: 1fr;
align-items: center;
min-height: 100%;
}

.sidebar{
grid-template-columns: 1fr;
align-items: center;
min-height: 100%;
background: var(--grey);
}
}
